
@import '../bolt/documentation/prism-cruncher.css';
@import '../bolt/documentation.css';
@import '../bolt/debug.css';

.block > pre + .bubble {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: -1.5rem;
    right: -22rem;
}

.block > pre:hover + .bubble,
.block > pre + .bubble:hover {
    opacity: 1 !important;
    visibility: visible !important;
}


@media (min-width: 50em) {
    .docs-grid > nav {
        position: fixed;
        left: 0;
        top: 0;
        width: calc(33.333333333% + 0.5 * var(--x-gap));
        height: 100vh;
        padding-left: calc(0.5 * var(--x-gap));
        padding-right: calc(0.5 * var(--x-gap));
        text-align: right;
        overflow: auto;
        overscroll-behavior: contain;
    }
}

@media (min-width: 70em) {
    .docs-grid > nav {
        width: calc(22.22222222% + 0.5 * var(--x-gap));
    }
}

.nav-button {
    --height:       1.125em;
    --line-height:  1.4em;
    --border-width: 0px;

    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

