
.literal-debug-message {
    font-size: 0.875rem;
    font-family: 'Fira Mono', 'Andale Mono', courier, monospace;
    font-weight: normal;
    letter-spacing: -0.05em;
    color: black;
    background-color: #e6da14;
    border-radius: 0.25rem;
    padding: 0 0.3125rem;
    box-shadow:
        inset 0 0 0 1px #8a830b,
        inset 0 0 12px 1px #d8cd17;
}

.literal-debug-message + * {
    margin-top: 0.5rem;
}

@import './elements/literal-include.css';
