
.literal-debug-message {
    font-size: 0.875rem;
    font-family: 'Fira Mono', 'Andale Mono', courier, monospace;
    font-weight: normal;
    letter-spacing: -0.05em;
    color: black;
    background-color: #e6da14;
    border-radius: 0.25rem;
    border: 1px solid #8a830b;
    padding: 0 0.25rem;
    box-shadow: inset 0 0 12px 1px #d8cd17;
    /* Try to not interfere with layout of surrounding content */
    overflow: hidden;
}

.literal-debug-message + * {
    margin-top: 0.5rem;
}

.literal-debug-message > code {
    display: block;
    line-height: 1.4375em;
    border-top: inherit;
    border-bottom: inherit;
    background-color: #fff8d5;
    margin-bottom: 0.25rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.25rem;
}

.literal-debug-message > code:last-child {
    margin-bottom: -1px;
}

@import './elements/literal-include.css';
