
@import './modules/library/print.css';

/* Animation */

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/* Literal include */

include-html,
template-include {
    display: contents;
    position: relative;
}

include-html::after,
template-include::after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s linear 0.3s;
}

include-html[loading]::after,
template-include[loading]::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.9375rem;
    margin-top: -0.9375rem;
    height: 1.875rem;
    width: 1.875rem;
    opacity: 1;

    -webkit-animation: rotate 1000ms infinite linear;
            animation: rotate 1000ms infinite linear;

    border:     0.3125rem solid rgba(63, 63, 63, 0.15);
    border-top: 0.3125rem solid rgba(63, 63, 63, 1);

    border-radius: 100%;
    z-index: 100;
}
