
.documentation-flex {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

/* Target examples like custom elements inside the text, but not any normal
   elements. */
.documentation-block > :not(p, pre, h1, h2, h3, h4, h5, table),
/* Target section titles */
.documentation-block > * + h2:not(class) {
    margin-top: var(--y-gap);
}

.documentation-block > h2:not(class) + p {
    margin-top: 0.1em;
}
