/* Github sponsor button */

.githubsponsor-button {
    --size: 1.75em;

    width: 200px;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    position: relative;
    display: inline-block;
    padding: 0.3125rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    --line-height: 1em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgba(27,31,36,0.45);
    border-radius: 0.375rem;
    -webkit-appearance: none;
    appearance: none;
}

.githubsponsor-button > svg {
    fill: #bf3989;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}
