
body {
    color: var(--slate);
}

body.grid {
    padding-top:    0;
    padding-bottom: 0;
    padding-left:   var(--x-gap);
    padding-right:  var(--x-gap);
}

body > header {
    height: auto;
}

body > hr {
    margin-top: var(--y-gap);
}

