
code.block,
pre > code {
    display: block;
    padding-left:   0.84em;
    padding-top:    0.56em;
    padding-bottom: 0.56em;
    padding-right:  0.84em;
    margin-left: -0.56em;
    width: calc(100% + 0.84em + 0.84em);

    overflow: auto;

    box-shadow: inset -18px 4px 110px -20px rgba(0,0,0,0.1);
    color: var(--code-fg);
    background-color: var(--code-bg);
    border-radius: 0.35em;
}

pre,
code.block {
    white-space: pre;
}

code {
    /*color:#46789a;*/
    /*background-color: rgba(0,0,0,0.0667);*/
    /*background-color: #b7d6e7;*/
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -1px;
    margin-right: -1px;
    padding-bottom: 2px;
    padding-top: 0px;
    border-radius: 4px;
    word-spacing: -0.125em;
    white-space: nowrap;
    letter-spacing: -0.0125em;
}

code > .params {
    color:#46789a;
    font-weight: 400;
}
