
@import './classes/atoms.css';
@import './classes/prism.css';
@import './classes/doc.css';

.block > pre + .bubble {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: -1.5rem;
    right: -22rem;
}

.block > pre:hover + .bubble,
.block > pre + .bubble:hover {
    opacity: 1 !important;
    visibility: visible !important;
}


@media (min-width: 50em) {
    .docs-grid > nav {
        position: fixed;
        left: 0;
        top: 0;
        width: calc(33.333333333% + 0.5 * var(--x-gap));
        height: 100vh;
        padding-left: calc(0.5 * var(--x-gap));
        padding-right: calc(0.5 * var(--x-gap));
        text-align: right;
        overflow: auto;
        overscroll-behavior: contain;
    }
}

@media (min-width: 70em) {
    .docs-grid > nav {
        width: calc(22.22222222% + 0.5 * var(--x-gap));
    }
}

.nav-button {
    --size:       1.125em;
    --line-height:  1.4em;
    --border-width: 0px;

    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

pre {
    position: relative;
    z-index: 1;
}

.example {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;

    width: calc(100% + 1.5rem);
    background-color: #ccd2d7;
    background-image: linear-gradient(60deg, #ccd2d7, #f6fafc);
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;

}

.example > ul > li {
    margin-left: 1.25rem;
}

pre + .example {
    margin-top: -0.375rem;
    padding-top: 0.75rem;
}

.example + p,
[is="literal-element"] + p {
    margin-top: 1.25rem;
}

.fav-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding-left: 3rem;
    width: 0;
    height: 3rem;
    background-color: green;
}

.fav-icon > .badge {
    position: absolute;
    bottom: 0;
    right: 0;
}

[type="button"] {
    border-color: rgb(20,27,30);
}

